@import '@style';

.header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-purple;
  padding: 0 2rem;
  font-family: $primary;
  color: $baby-powder;
}
